.vscode/settings.json
Original-Data/
VSCode-Workspace.code-workspace
Lab-Data.csv
Turk-Data.csv
.idea/
.vscode/
__pycache__/
created_labs.csv
created_labs.csv
Dissertation/Dissertation.aux
Dissertation/Dissertation.bbl
Dissertation/Dissertation.bcf
Dissertation/Dissertation.blg
Dissertation/Dissertation.fdb_latexmk
Dissertation/Dissertation.fls
Dissertation/Dissertation.log
Dissertation/Dissertation.out
Dissertation/Dissertation.run.xml
Dissertation/Dissertation.synctex.gz
Dissertation/Dissertation.toc
