.vscode/settings.json
All-Lab-Data-filename.csv
All-Turk-Data.csv
mouse_events.json
All-Data/Tom-background-data/index.php
All-Data/Tom-background-data/interface.png
All-Data/Tom-background-data/Risk_fixers_vs_sweet_spotters.pdf
All-Data/Tom-background-data/save.php
All-Data/Tom-background-data/test_index.php
All-Data/Tom-background-data/thesis_gruber.pdf
All-Data/Tom-background-data/css/app.css
All-Data/Tom-background-data/evaluation/data.csv
All-Data/Tom-background-data/evaluation/index.php
All-Data/Tom-background-data/evaluation/test.html
All-Data/Tom-background-data/evaluation/css/d3.css
All-Data/Tom-background-data/evaluation/css/stylesheet.css
All-Data/Tom-background-data/evaluation/js/d3_compareOverviewGraph.js
All-Data/Tom-background-data/evaluation/js/d3_detailGraph.js
All-Data/Tom-background-data/evaluation/js/d3_detailGraphBarChart.js
All-Data/Tom-background-data/evaluation/js/d3_overviewGraph.js
All-Data/Tom-background-data/evaluation/js/d3_riskanalysis.js
All-Data/Tom-background-data/evaluation/js/d3_testdetail.js
All-Data/Tom-background-data/evaluation/js/d3.js
All-Data/Tom-background-data/evaluation/js/d3.legend.js
All-Data/Tom-background-data/evaluation/js/d3.min.js
All-Data/Tom-background-data/evaluation/js/filters.js
All-Data/Tom-background-data/evaluation/js/numeric.min.js
All-Data/Tom-background-data/evaluation/js/overviewDetails.js
All-Data/Tom-background-data/evaluation/js/prepareForD3.js
All-Data/Tom-background-data/evaluation/js/riskCurve.js
All-Data/Tom-background-data/evaluation/jsData/angle_line.js
All-Data/Tom-background-data/evaluation/jsData/azn.js
All-Data/Tom-background-data/evaluation/jsData/bar.js
All-Data/Tom-background-data/evaluation/jsData/data_store.js
All-Data/Tom-background-data/evaluation/jsData/flow.js
All-Data/Tom-background-data/evaluation/jsData/form.js
All-Data/Tom-background-data/evaluation/jsData/instructions.js
All-Data/Tom-background-data/evaluation/jsData/local_sa_scatterplot.js
All-Data/Tom-background-data/evaluation/jsData/main.js
All-Data/Tom-background-data/evaluation/jsData/math.js
All-Data/Tom-background-data/evaluation/jsData/mouse.js
All-Data/Tom-background-data/evaluation/jsData/portfolio_selections.js
All-Data/Tom-background-data/evaluation/jsData/portfolio.js
All-Data/Tom-background-data/evaluation/jsData/routes.js
All-Data/Tom-background-data/evaluation/jsData/scatterplot.js
All-Data/Tom-background-data/evaluation/jsData/sl.js
All-Data/Tom-background-data/evaluation/jsData/slice_sa_scatterplot.js
All-Data/Tom-background-data/evaluation/jsData/timing.js
All-Data/Tom-background-data/evaluation/jsData/util.js
All-Data/Tom-background-data/evaluation/jsData/welcome.js
All-Data/Tom-background-data/evaluation/jsData/x_axis.js
All-Data/Tom-background-data/fonts/fontawesome-webfont.eot
All-Data/Tom-background-data/fonts/fontawesome-webfont.svg
All-Data/Tom-background-data/fonts/fontawesome-webfont.ttf
All-Data/Tom-background-data/fonts/fontawesome-webfont.woff
All-Data/Tom-background-data/fonts/FontAwesome.otf
All-Data/Tom-background-data/images/sample.png
All-Data/Tom-background-data/js/main.js
All-Data/Tom-background-data/js/vendor.js
All-Data/Tom-background-data/partials/conf_questionnaire.html
All-Data/Tom-background-data/partials/demographics.html
All-Data/Tom-background-data/partials/done.html
All-Data/Tom-background-data/partials/failed.html
All-Data/Tom-background-data/partials/feedback.html
All-Data/Tom-background-data/partials/global_sa_sl_both.html
All-Data/Tom-background-data/partials/global_sa_sl_ratio.html
All-Data/Tom-background-data/partials/global_sa_text_both.html
All-Data/Tom-background-data/partials/global_sa_text_ratio.html
All-Data/Tom-background-data/partials/instructions.html
All-Data/Tom-background-data/partials/local_sa_angles.html
All-Data/Tom-background-data/partials/local_sa_bars.html
All-Data/Tom-background-data/partials/local_sa_sp.html
All-Data/Tom-background-data/partials/local_sa_text.html
All-Data/Tom-background-data/partials/nasd.html
All-Data/Tom-background-data/partials/need_for_cognition.html
All-Data/Tom-background-data/partials/no_sa.html
All-Data/Tom-background-data/partials/preview.html
All-Data/Tom-background-data/partials/qualification.html
All-Data/Tom-background-data/partials/rejected.html
All-Data/Tom-background-data/partials/slice_sa.html
All-Data/Tom-background-data/partials/welcome.html
All-Data/Tom-background-data/partials/pretest/global_sa_sl_both.html
All-Data/Tom-background-data/partials/pretest/global_sa_sl_ratio.html
All-Data/Tom-background-data/partials/pretest/global_sa_text_both.html
All-Data/Tom-background-data/partials/pretest/global_sa_text_ratio.html
All-Data/Tom-background-data/partials/pretest/local_sa_angles.html
All-Data/Tom-background-data/partials/pretest/local_sa_bars.html
All-Data/Tom-background-data/partials/pretest/local_sa_sp.html
All-Data/Tom-background-data/partials/pretest/local_sa_text.html
All-Data/Tom-background-data/partials/pretest/no_sa.html
All-Data/Tom-background-data/partials/pretest/slice_sa.html
All-Data/Tom-background-data/saves/global_sa_sl_both_2017-02-08 12_48_51.json
All-Data/Tom-background-data/saves/global_sa_sl_both_2017-02-09 17_28_24.json
All-Data/Tom-background-data/saves/global_sa_sl_both_2017-02-09 17_28_30.json
All-Data/Tom-background-data/saves/global_sa_sl_both_2017-02-10 18_16_36.json
All-Data/Tom-background-data/saves/global_sa_sl_both_2017-02-13 11_15_26.json
All-Data/Tom-background-data/saves/global_sa_sl_both_2017-02-13 11_50_43.json
All-Data/Tom-background-data/saves/global_sa_sl_both_2017-02-15 17_28_32.json
All-Data/Tom-background-data/saves/global_sa_sl_both_2017-02-21 21_31_56.json
All-Data/Tom-background-data/saves/no-sa_2016-12-29 20_48_14-2.json
All-Data/Tom-background-data/saves/no-sa_2016-12-30 10_20_12-2.json
All-Data/Tom-background-data/saves/no-sa_2016-12-30 16_32_41-2.json
All-Data/Tom-background-data/saves/no-sa_2017-01-07 14_30_43-2.json
All-Data/Tom-background-data/saves/no-sa_2017-01-07 18_38_34-2.json
All-Data/Tom-background-data/saves/no-sa_2017-01-07 22_40_30-2.json
All-Data/Tom-background-data/saves/no-sa_2017-01-22 14_23_20.json
All-Data/Tom-background-data/saves/no-sa_2017-01-28 15_09_25.json
All-Data/Tom-background-data/saves/no-sa_2017-01-29 17_52_17.json
All-Data/Tom-background-data/saves/no-sa_2017-02-01 10_56_55.json
All-Data/Tom-background-data/saves/PreStudy_global_sa_sl_both_2016-12-03 12_24_36--2.json
All-Data/Tom-background-data/saves/PreStudy_global_sa_sl_ratio_2016-11-24 12_06_58-2.json
All-Data/Tom-background-data/saves/PreStudy_global_sa_sl_ratio_2016-11-24 13_02_24-2.json
All-Data/Tom-background-data/saves/PreStudy_global_sa_sl_ratio_2016-11-24 13_02_24.json
All-Data/Tom-background-data/saves/PreStudy_no-sa_2016-11-30 14_18_14-2.json
All-Data/Tom-background-data/saves/PreStudy_no-sa_2016-11-30 14_19_31-2.json
All-Data/Tom-background-data/saves/PreStudy_no-sa_2016-11-30 16_45_05-2.json
All-Data/Tom-background-data/saves/PreStudy_no-sa_2016-12-01 13_00_14-2.json
All-Data/Tom-background-data/saves/readData.php
All-Data/Tom-background-data/saves/show.php
All-Data/Tom-background-data/test/index.php
All-Data/Tom-background-data/test/login.php
All-Data/all_lab_study_data/global_sa_sl_both_2017-02-08 12_48_51.json
All-Data/all_lab_study_data/global_sa_sl_both_2017-02-09 17_28_24.json
All-Data/all_lab_study_data/global_sa_sl_both_2017-02-09 17_28_30.json
All-Data/all_lab_study_data/global_sa_sl_both_2017-02-10 18_16_36.json
All-Data/all_lab_study_data/global_sa_sl_both_2017-02-13 11_15_26.json
All-Data/all_lab_study_data/global_sa_sl_both_2017-02-13 11_50_43.json
All-Data/all_lab_study_data/global_sa_sl_both_2017-02-15 17_28_32.json
All-Data/all_lab_study_data/global_sa_sl_both_2017-02-21 21_31_56.json
All-Data/all_lab_study_data/no-sa_2016-12-29 20_48_14-2.json
All-Data/all_lab_study_data/no-sa_2016-12-30 10_20_12-2.json
All-Data/all_lab_study_data/no-sa_2016-12-30 16_32_41-2.json
All-Data/all_lab_study_data/no-sa_2017-01-07 14_30_43-2.json
All-Data/all_lab_study_data/no-sa_2017-01-07 18_38_34-2.json
All-Data/all_lab_study_data/no-sa_2017-01-07 22_40_30-2.json
All-Data/all_lab_study_data/no-sa_2017-01-22 14_23_20.json
All-Data/all_lab_study_data/no-sa_2017-01-28 15_09_25.json
All-Data/all_lab_study_data/no-sa_2017-01-29 17_52_17.json
All-Data/all_lab_study_data/no-sa_2017-02-01 10_56_55.json
All-Data/all_lab_study_data/portfolio_selections.json
All-Data/all_lab_study_data/PreStudy_global_sa_sl_both_2016-12-03 12_24_36--2.json
All-Data/all_lab_study_data/PreStudy_global_sa_sl_ratio_2016-11-24 12_06_58-2.json
All-Data/all_lab_study_data/PreStudy_global_sa_sl_ratio_2016-11-24 13_02_24-2.json
All-Data/all_lab_study_data/PreStudy_global_sa_sl_ratio_2016-11-24 13_02_24.json
All-Data/all_lab_study_data/PreStudy_no-sa_2016-11-30 14_18_14-2.json
All-Data/all_lab_study_data/PreStudy_no-sa_2016-11-30 14_19_31-2.json
All-Data/all_lab_study_data/PreStudy_no-sa_2016-11-30 16_45_05-2.json
All-Data/all_lab_study_data/PreStudy_no-sa_2016-12-01 13_00_14-2.json
All-Data/all_lab_study_data/readData.php
All-Data/all_lab_study_data/show.php
All-Data/all_lab_study_data/study_results.all.json
all_lab_study_data/global_sa_sl_both_2017-02-08 12_48_51.json
all_lab_study_data/global_sa_sl_both_2017-02-09 17_28_24.json
all_lab_study_data/global_sa_sl_both_2017-02-09 17_28_30.json
all_lab_study_data/global_sa_sl_both_2017-02-10 18_16_36.json
all_lab_study_data/global_sa_sl_both_2017-02-13 11_15_26.json
all_lab_study_data/global_sa_sl_both_2017-02-13 11_50_43.json
all_lab_study_data/global_sa_sl_both_2017-02-15 17_28_32.json
all_lab_study_data/global_sa_sl_both_2017-02-21 21_31_56.json
all_lab_study_data/no-sa_2016-12-29 20_48_14-2.json
all_lab_study_data/no-sa_2016-12-30 10_20_12-2.json
all_lab_study_data/no-sa_2016-12-30 16_32_41-2.json
all_lab_study_data/no-sa_2017-01-07 14_30_43-2.json
all_lab_study_data/no-sa_2017-01-07 18_38_34-2.json
all_lab_study_data/no-sa_2017-01-07 22_40_30-2.json
all_lab_study_data/no-sa_2017-01-22 14_23_20.json
all_lab_study_data/no-sa_2017-01-28 15_09_25.json
all_lab_study_data/no-sa_2017-01-29 17_52_17.json
all_lab_study_data/no-sa_2017-02-01 10_56_55.json
all_lab_study_data/portfolio_selections.json
all_lab_study_data/PreStudy_global_sa_sl_both_2016-12-03 12_24_36--2.json
all_lab_study_data/PreStudy_global_sa_sl_ratio_2016-11-24 12_06_58-2.json
all_lab_study_data/PreStudy_global_sa_sl_ratio_2016-11-24 13_02_24-2.json
all_lab_study_data/PreStudy_global_sa_sl_ratio_2016-11-24 13_02_24.json
all_lab_study_data/PreStudy_no-sa_2016-11-30 14_18_14-2.json
all_lab_study_data/PreStudy_no-sa_2016-11-30 14_19_31-2.json
all_lab_study_data/PreStudy_no-sa_2016-11-30 16_45_05-2.json
all_lab_study_data/PreStudy_no-sa_2016-12-01 13_00_14-2.json
all_lab_study_data/readData.php
all_lab_study_data/show.php
all_lab_study_data/study_results.all.json
