<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>Thanks!</h2>
        <p>The test is now complete.</p>
        <div class="row">
            <div class="large-12 columns text-center">
                <div class="panel info">
                    <form id="aws-submit" action="save.php" method="POST"></form>
                    <div class="status">
                        <h4>Finishing up...</h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
