<h2>Instructions</h2><p>Hello, you have recently been given an inheritance of $10,000.  However, it
is not enough to fund the dream vacation you've always wanted to take.
You have a year to make as
much money as you see fit.  Investing also comes with some risk though.
While you stand a chance to make a profit there is also the risk that
you may lose money as well.  Risk and return are related.  Selecting a
portfolio with a higher return almost always means taking on a higher
risk as well.
</p><p>Being a smart investor, you will use a portfolio model to predict how
much you will make.  This portfolio model also estimates the risk of your
investment.  The risk is the amount of money that you have a 5% chance  of
losing.   There are 5 candidate investments and, while you can invest as much
as you want in each of them, the total cannot exceed the total value of the
portfolio.
</p><p>In the following investment scenarios you may interactively vary
the amount you want to invest in each stock in order to
try to maximize your desired
return. However, keep in mind that if you lose
too much money you will never get to experience the vacation of
your dreams!
</p><h3>Overview</h3><p>You will be presented with an interface to explore your investment
options in the five stocks.  After making your selection, the system will
simulate the stocks and determine how much the portfolio is worth.  Then,
you will be able to choose how much to invest in each stock again
with a total of 5 investment periods total.  You will receive bonus
earnings based on the final value of your portfolio.
You will receive $1.00 times the 
percentage change in your final portfolio value.  For example, if your final
portfolio value is $11,000 then you will receive a bonus of $1.10.
</p><p>Press the "Next" button below to advance to the
the qualification example.

</p><div class="row"><div class="large-12 columns text-center"><button id="next" type="button">Next</button></div></div>