<h2>Investment survey</h2><div class="panel warning"><h3>Warning</h3><p>You can only take this test once. Once you start this test you cannot 
take another test in this group.  You must complete all stages
of the test for it to be considered complete.
</p></div><p>This test will take approximately 30 minutes.</p><p>The purpose of this test is to see how people invest in the stock market.
You will be presented with an interface to explore your investment
options in the five stocks.  After making your selection, the system will
simulate the stocks and determine how much the portfolio is worth.  Then,
you will be able to choose how much to invest in each stock again
with a total of 5 investment periods total. </p><p>The results
of each of your portfolio selections will be simulated and you will receive
a bonus based on your performance.  You will receive $1.00 times the 
percentage change in your final portfolio value.  For example, if your final
portfolio value is $11,000 then you will receive a bonus of $1.10.

</p><h3>Sample interface</h3><figure><img src="images/sample.png"/><figcaption> </figcaption></figure><p>This is one of the potential interfaces you will evalutate.  There are
sliders to control the amount you can invest in each stock and the current
estimated risk and return values of your investment are shown on the right.</p>