<h2>Investment survey</h2><div class="panel warning"><h3>Warning</h3><p>You can only take this test once. Once you start this test you cannot 
take another test in this group.  You must complete all stages
of the test for it to be considered complete.
</p></div><p>This test will take approximately 30 minutes.</p><p>The purpose of this test is to see how people invest in the stock market.
We will first 
be given the investment interface.  Following 5 iterations of the
interface we will ask you about your confidence using the tool. 
Then, we will test your financial knowledge with a 10-question test and a 18
question personality test
and then
the test will be complete.</p><p>The results
of each of your portfolio selections will be simulated and you will receive
a bonus based on your performance.  You will receive €1.00 times the 
percentage change in your final portfolio value.  For example, if your final
portfolio value is €11,000 then you will receive a bonus of €1.10.

</p><h3>Please read - Consent</h3><p>This is a research project being conducted by the Computer Science department
at the University of Vienna.
The purpose of this research project is to investigate how people analyze
complex data, and how statistical analysis techniques and visual
representations are used to make sense of this data. Research of this type is
important because it allows us to design better data displays to allow more
effective, efficient, and enjoyable analysis of data in a variety of
applications.
</p><p>You are free to contact the investigator at thomas.torsney-weir@univie.ac.at
to discuss the survey.
</p><p>Risks to participants are considered minimal. There will be no costs
for participating. You will be paid for the HIT you complete, but will
not otherwise benefit from participating. A limited
number of research team members will have access to the data during data
collection. This information will be stripped from the final dataset.
</p><p>Your participation in this survey is voluntary. You may decline to answer
any question and you have the right to withdraw from participation at any
time without penalty. If you wish to withdraw from the study or have any
questions, contact the investigator listed below.
</p><p>If you have any questions, please email Thomas Torsney-Weir at
thomas.torsney-weir@univie.ac.at.
</p><hr/><div class="row"><div class="large-12 columns text-center"><button id="next" type="button">I understand and want to participate in this study</button></div></div>